body {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 100;
    font-family: "微软雅黑",Arial;
}

label {
    font-weight: 100;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

address, blockquote, dl, fieldset, figure, hr, ol, p, pre, ul {
    margin: 0;
}

.am-topbar-collapse:after, .am-topbar-collapse:before, .am-topbar:after, .am-topbar:before {
    content: '';
    display: none;
}

.am-checkbox, .am-radio {
    margin-top: 0;
    margin-bottom: 0;
}

.fixed-layout .admin-sidebar {
    overflow-y: hidden;
}

.admin-sidebar {
    border-right: 0;
}

.am-offcanvas-bar {
    overflow-y: hidden;
}

.am-topbar {
    border-width: 0 0;
    background: #fff;
}

    .am-topbar .am-cf {
        box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
    }

.am-offcanvas-bar .am-list > li {
    background: none;
}

.am-list > li > a {
    padding: 0;
}

.am-topbar-brand {
    padding: 0;
}

.fixed-layout .admin-main {
    padding-top: 50px;
}

.am-topbar-collapse .am-btn {
    height: 30px;
    line-height: 30px;
    background: #4eccc4;
    width: 7em;
    padding: 0;
    margin: 10px 40px 0 0;
}

    .am-topbar-collapse .am-btn span {
        line-height: 30px;
    }

.am-offcanvas-bar ul {
    padding-top: 20px;
}

.admin-content {
    background: #edf1f2;
}

dt + dd {
    margin-top: 0;
}

.am-tabs-bd {
    border: 0;
}

    .am-tabs-bd .am-tab-panel {
        padding: 0;
    }

.ie-warning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

    .ie-warning a {
        font-weight: 700;
        border-bottom: 1px dashed #fff;
    }

.dy-main {
    min-height: 100%;
    height: auto;
}

.fixed-layout body {
    overflow: auto;
}

.fixed-layout .admin-content, .fixed-layout .admin-sidebar {
    overflow-y: auto;
}

.am-active .am-btn-default.am-dropdown-toggle, .am-btn-default.am-active, .am-btn-default:active {
    background-image: none;
    background-color: #fff;
}

.am-secondary .am-ucheck-icons {
    color: #3bb4f2;
}

.am-topbar-nav > li > a {
    padding: 0 20px !important;
}

    .am-topbar-nav > li > a:after {
        border-bottom: 7px solid transparent !important;
    }

.am-nav-pills a.am-active {
    background: #f3f3f3 !important;
}

.admin-sidebar-list li a {
    padding-left: 0;
}

.dy-ol {
    margin: 0;
    padding: 0;
}

.am-list > li > a.am-active, .am-list > li > a.am-active:focus, .am-list > li > a.am-active:hover {
    background: #13a787;
}

.am-ucheck-icons {
    line-height: 20px;
}

.am-dropdown-content {
    border-radius: 4px;
}

.am-selected-list {
    font-size: 1.4rem;
}

.am-tabs-bd {
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.am-checkbox.dy-secondary .am-ucheck-checkbox:checked + .am-ucheck-icons,
.am-checkbox.dy-secondary .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons,
.am-checkbox.dy-secondary .am-ucheck-radio:checked + .am-ucheck-icons,
.am-checkbox.dy-secondary .am-ucheck-radio:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons {
    color: #05c89f;
}

.am-checkbox-inline.dy-secondary .am-ucheck-checkbox:checked + .am-ucheck-icons,
.am-checkbox-inline.dy-secondary .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons,
.am-checkbox-inline.dy-secondary .am-ucheck-radio:checked + .am-ucheck-icons,
.am-checkbox-inline.dy-secondary .am-ucheck-radio:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons {
    color: #05c89f;
}

.dy-secondary .am-ucheck-icons {
    color: #05c89f;
}

.am-checkbox.dy-gray .am-ucheck-checkbox:checked + .am-ucheck-icons,
.am-checkbox.dy-gray .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons,
.am-checkbox.dy-gray .am-ucheck-radio:checked + .am-ucheck-icons,
.am-checkbox.dy-gray .am-ucheck-radio:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons {
    color: #a4a9ae;
}

.am-checkbox-inline.dy-gray .am-ucheck-checkbox:checked + .am-ucheck-icons,
.am-checkbox-inline.dy-gray .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons,
.am-checkbox-inline.dy-gray .am-ucheck-radio:checked + .am-ucheck-icons,
.am-checkbox-inline.dy-gray .am-ucheck-radio:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons {
    color: #a4a9ae;
}

.dy-gray .am-ucheck-icons {
    color: #a4a9ae;
}

.am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password],
.am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month],
.am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url],
.am-form input[type=tel], .am-form input[type=color],
.am-form textarea, .am-form-field {
    width: auto;
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 1.4;
    background: #f6f6f6;
    border: 1px solid #f0f0f0;
    padding: 0 0.5em;
    color: #919191;
}

.am-form select {
    font-size: 1.4rem;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    padding: 0 0.5em;
    color: #919191;
    background-color: #f6f6f6;
    height: 36px;
}

.am-modal-btn:active {
    background: #f60;
}

.am-modal-btn {
    display: inline !important;
}

.am-btn-default:active {
    background: #ddd;
}

.am-field-valid, .am-form-success .am-form-field {
    border-color: #f0f0f0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.dy-ctg1 .am-field-valid, .dy-ctg1 .am-form-success .am-form-field {
    border-color: #89d2c3 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.am-field-valid:focus, .am-form-success .am-form-field:focus {
    border: 1px solid #23b7e5 !important;
    box-shadow: 1px 1px 4px rgba(35,183,229,.5) !important;
    transition: all .2s ease-in-out !important;
}

.datetimepicker table th.next i, .datetimepicker table th.prev i {
    line-height: 24px;
}

.am-btn {
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 1em;
    padding: 0.4em 1em;
}

    .am-btn.dy-btn-sm {
        padding: 0.5em 2em;
    }

.am-popup {
    overflow: visible;
}

.am-popup-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    padding-top: 43px;
}

.am-popup-title {
    text-align: left !important;
    color: #fff !important;
}

[class*="am-u-"] + [class*="am-u-"]:last-child {
    float: left;
}

.am-form input[type="text"][readonly] {
    cursor: pointer;
}

.dy-confirm .am-popup-inner {
    width: 100%;
}

.am-form input[type="number"]:focus, .am-form input[type="search"]:focus, .am-form input[type="text"]:focus, .am-form input[type="password"]:focus, .am-form input[type="datetime"]:focus, .am-form input[type="datetime-local"]:focus, .am-form input[type="date"]:focus, .am-form input[type="month"]:focus, .am-form input[type="time"]:focus, .am-form input[type="week"]:focus, .am-form input[type="email"]:focus, .am-form input[type="url"]:focus, .am-form input[type="tel"]:focus, .am-form input[type="color"]:focus, .am-form select:focus, .am-form textarea:focus, .am-form-field:focus {
    border: 1px solid #23b7e5;
}

.am-popup-hd .am-popup-title {
    margin: 0 20px;
}

    .am-popup-hd .am-popup-title i {
        padding-right: 4px;
    }

.dy-btn-orange {
    color: #fff;
    background-color: #ff9900;
    border-color: #ff9900;
}

a.dy-btn-orange:visited {
    color: #fff;
}

.am-active .dy-btn-orange.am-dropdown-toggle, .dy-btn-orange.am-active, .dy-btn-orange:active, .dy-btn-orange:focus, .dy-btn-orange:hover {
    color: #fff;
    border-color: #e88d05;
}

.dy-btn-orange:focus, .dy-btn-orange:hover {
    background-color: #faa320;
}

.am-active .dy-btn-orange.am-dropdown-toggle, .dy-btn-orange.am-active, .dy-btn-orange:active {
    background-image: none;
    background-color: #e88d05;
}

.dy-btn-orange.am-disabled, .dy-btn-orange.am-disabled.am-active, .dy-btn-orange.am-disabled:active, .dy-btn-orange.am-disabled:focus, .dy-btn-orange.am-disabled:hover, .dy-btn-orange[disabled], .dy-btn-orange[disabled].am-active, .dy-btn-orange[disabled]:active, .dy-btn-orange[disabled]:focus, .dy-btn-orange[disabled]:hover, fieldset[disabled] .dy-btn-orange, fieldset[disabled] .dy-btn-orange.am-active, fieldset[disabled] .dy-btn-orange:active, fieldset[disabled] .dy-btn-orange:focus, fieldset[disabled] .dy-btn-orange:hover {
    background-color: #ff9900;
    border-color: #ff9900;
}

.am-btn-group .dy-btn-orange, .am-btn-group-stacked .dy-btn-orange {
    border-color: #d9d9d9;
}

.dy-btn-blue {
    color: #fff;
    background-color: #23b7e5;
    border-color: #23b7e5;
}

a.dy-btn-blue:visited {
    color: #fff;
}

.am-active .dy-btn-blue.am-dropdown-toggle, .dy-btn-blue.am-active, .dy-btn-blue:active, .dy-btn-blue:focus, .dy-btn-blue:hover {
    color: #fff;
    border-color: #12bef4;
}

.dy-btn-blue:focus, .dy-btn-blue:hover {
    background-color: #2fc9f9;
}

.am-active .dy-btn-blue.am-dropdown-toggle, .dy-btn-blue.am-active, .dy-btn-blue:active {
    background-image: none;
    background-color: #12bef4;
}

.dy-btn-blue.am-disabled, .dy-btn-blue.am-disabled.am-active, .dy-btn-blue.am-disabled:active, .dy-btn-blue.am-disabled:focus, .dy-btn-blue.am-disabled:hover, .dy-btn-blue[disabled], .dy-btn-blue[disabled].am-active, .dy-btn-blue[disabled]:active, .dy-btn-blue[disabled]:focus, .dy-btn-blue[disabled]:hover, fieldset[disabled] .dy-btn-blue, fieldset[disabled] .dy-btn-blue.am-active, fieldset[disabled] .dy-btn-blue:active, fieldset[disabled] .dy-btn-blue:focus, fieldset[disabled] .dy-btn-blue:hover {
    background-color: #23b7e5;
    border-color: #23b7e5;
}

.am-btn-group .dy-btn-blue, .am-btn-group-stacked .dy-btn-blue {
    border-color: #09abde;
}

.dy-btn-gray {
    color: #fff!important;
    background-color: #a4aeb8;
    border-color: #a4aeb8;
}

a.dy-btn-gray:visited {
    color: #fff!important;
}

.am-active .dy-btn-gray.am-dropdown-toggle, .dy-btn-gray.am-active, .dy-btn-gray:active, .dy-btn-gray:focus, .dy-btn-gray:hover {
    color: #fff!important;
    border-color: #919da9;
}

.dy-btn-gray:focus, .dy-btn-gray:hover {
    background-color: #a0b1c1;
}

.am-active .dy-btn-gray.am-dropdown-toggle, .dy-btn-gray.am-active, .dy-btn-gray:active {
    background-image: none;
    background-color: #919da9;
}

.dy-btn-gray.am-disabled, .dy-btn-gray.am-disabled.am-active, .dy-btn-gray.am-disabled:active, .dy-btn-gray.am-disabled:focus, .dy-btn-gray.am-disabled:hover, .dy-btn-gray[disabled], .dy-btn-gray[disabled].am-active, .dy-btn-gray[disabled]:active, .dy-btn-gray[disabled]:focus, .dy-btn-gray[disabled]:hover, fieldset[disabled] .dy-btn-gray, fieldset[disabled] .dy-btn-gray.am-active, fieldset[disabled] .dy-btn-gray:active, fieldset[disabled] .dy-btn-gray:focus, fieldset[disabled] .dy-btn-gray:hover {
    background-color: #a4aeb8;
    border-color: #a4aeb8;
}

.am-btn-group .dy-btn-gray, .am-btn-group-stacked .dy-btn-gray {
    border-color: #919da9;
}

.dy-btn-white {
    color: #7b8591;
    background-color: #fff;
    border-color: #fff;
    border: 1px solid #dee8ea;
}

a.dy-btn-white:visited {
    color: #7b8591;
}

.am-active .dy-btn-white.am-dropdown-toggle, .dy-btn-white.am-active, .dy-btn-white:active, .dy-btn-white:focus, .dy-btn-white:hover {
    color: #fff;
    border-color: #9aa3ad;
}

.dy-btn-white:focus, .dy-btn-white:hover {
    background-color: #9aa3ad;
}

.am-active .dy-btn-white.am-dropdown-toggle, .dy-btn-white.am-active, .dy-btn-white:active {
    background-image: none;
    background-color: #9aa3ad;
}

.dy-btn-white.am-disabled, .dy-btn-white.am-disabled.am-active, .dy-btn-white.am-disabled:active, .dy-btn-white.am-disabled:focus, .dy-btn-white.am-disabled:hover, .dy-btn-white[disabled], .dy-btn-white[disabled].am-active, .dy-btn-white[disabled]:active, .dy-btn-white[disabled]:focus, .dy-btn-white[disabled]:hover, fieldset[disabled] .dy-btn-white, fieldset[disabled] .dy-btn-white.am-active, fieldset[disabled] .dy-btn-white:active, fieldset[disabled] .dy-btn-white:focus, fieldset[disabled] .dy-btn-white:hover {
    background-color: #a4aeb8;
    border-color: #a4aeb8;
}

.am-btn-group .dy-btn-white, .am-btn-group-stacked .dy-btn-white {
    border-color: #9aa3ad;
}

.dy-btn-green {
    color: #fff;
    background-color: #23b7e5;
    border-color: #23b7e5;
}

a.dy-btn-green:visited {
    color: #fff;
}

.am-active .dy-btn-green.am-dropdown-toggle, .dy-btn-green.am-active, .dy-btn-green:active, .dy-btn-green:focus, .dy-btn-green:hover {
    color: #fff !important;
    border-color: #24a7d0;
}

.dy-btn-green:focus, .dy-btn-green:hover {
    color: #fff !important;
    background-color: #24a7d0;
}

.am-active .dy-btn-green.am-dropdown-toggle, .dy-btn-green.am-active, .dy-btn-green:active {
    color: #fff !important;
    background-image: none;
    background-color: #24a7d0;
}

.dy-btn-green.am-disabled, .dy-btn-green.am-disabled.am-active, .dy-btn-green.am-disabled:active, .dy-btn-green.am-disabled:focus, .dy-btn-green.am-disabled:hover, .dy-btn-green[disabled], .dy-btn-green[disabled].am-active, .dy-btn-green[disabled]:active, .dy-btn-green[disabled]:focus, .dy-btn-green[disabled]:hover, fieldset[disabled] .dy-btn-green, fieldset[disabled] .dy-btn-green.am-active, fieldset[disabled] .dy-btn-green:active, fieldset[disabled] .dy-btn-green:focus, fieldset[disabled] .dy-btn-green:hover {
    background-color: #30d4b2;
    border-color: #30d4b2;
    color:#fff!important;
}

.am-btn-group .dy-btn-green, .am-btn-group-stacked .dy-btn-green {
    border-color: #21b99a;
}

.dy-btn-whiteb {
    color: #7b8591;
    background-color: #fff;
    border-color: #fff;
    border: 1px solid #dee8ea;
}

a.dy-btn-whiteb:visited {
    color: #7b8591;
}

.am-active .dy-btn-whiteb.am-dropdown-toggle, .dy-btn-whiteb.am-active, .dy-btn-whiteb:active, .dy-btn-whiteb:focus, .dy-btn-whiteb:hover {
    color: #fff !important;
    border-color: #23b7e5;
}

.dy-btn-whiteb:focus, .dy-btn-whiteb:hover {
    background-color: #23b7e5;
}

.am-active .dy-btn-whiteb.am-dropdown-toggle, .dy-btn-whiteb.am-active, .dy-btn-whiteb:active {
    background-image: none;
    color: #fff;
    background-color: #23b7e5;
}

.dy-btn-whiteb.am-disabled, .dy-btn-whiteb.am-disabled.am-active, .dy-btn-whiteb.am-disabled:active, .dy-btn-whiteb.am-disabled:focus, .dy-btn-whiteb.am-disabled:hover, .dy-btn-whiteb[disabled], .dy-btn-whiteb[disabled].am-active, .dy-btn-whiteb[disabled]:active, .dy-btn-whiteb[disabled]:focus, .dy-btn-whiteb[disabled]:hover, fieldset[disabled] .dy-btn-whiteb, fieldset[disabled] .dy-btn-whiteb.am-active, fieldset[disabled] .dy-btn-whiteb:active, fieldset[disabled] .dy-btn-whiteb:focus, fieldset[disabled] .dy-btn-whiteb:hover {
    background-color: #fff;
    border-color: #fff;
    color: #fff;
}

.am-btn-group .dy-btn-whiteb, .am-btn-group-stacked .dy-btn-whiteb {
    border-color: #23b7e5;
}

.dy-btn-red {
    color: #fff;
    background-color: #fe7879;
    border-color: #fe7879;
}

a.dy-btn-red:visited {
    color: #fff;
}

.am-active .dy-btn-red.am-dropdown-toggle, .dy-btn-red.am-active, .dy-btn-red:active, .dy-btn-red:focus, .dy-btn-red:hover {
    color: #fff;
    border-color: #f46565;
}

.dy-btn-red:focus, .dy-btn-red:hover {
    background-color: #ec5656;
}

.am-active .dy-btn-red.am-dropdown-toggle, .dy-btn-red.am-active, .dy-btn-red:active {
    background-image: none;
    background-color: #f46565;
}

.dy-btn-red.am-disabled, .dy-btn-red.am-disabled.am-active, .dy-btn-red.am-disabled:active, .dy-btn-red.am-disabled:focus, .dy-btn-red.am-disabled:hover, .dy-btn-red[disabled], .dy-btn-red[disabled].am-active, .dy-btn-red[disabled]:active, .dy-btn-red[disabled]:focus, .dy-btn-red[disabled]:hover, fieldset[disabled] .dy-btn-red, fieldset[disabled] .dy-btn-red.am-active, fieldset[disabled] .dy-btn-red:active, fieldset[disabled] .dy-btn-red:focus, fieldset[disabled] .dy-btn-red:hover {
    background-color: #fe7879;
    border-color: #fe7879;
}

.am-btn-group .dy-btn-red, .am-btn-group-stacked .dy-btn-red {
    border-color: #f46565;
}

.dy-btn-whiteo {
    color: #7b8591;
    background-color: #fff;
    border-color: #e6e6e6;
}

    .dy-btn-whiteo.am-disabled {
        color: #4eccc4;
        opacity: 1;
        background: #f8f8f8 !important;
    }

a.dy-btn-whiteo:visited {
    color: #7b8591;
}

.am-active .dy-btn-whiteo.am-dropdown-toggle, .dy-btn-whiteo.am-active, .dy-btn-whiteo:active, .dy-btn-whiteo:focus, .dy-btn-whiteo:hover {
    color: #fff;
    border-color: #ff9900;
}

.dy-btn-whiteo:focus, .dy-btn-whiteo:hover {
    background-color: #ff9900;
}

.am-active .dy-btn-whiteo.am-dropdown-toggle, .dy-btn-whiteo.am-active, .dy-btn-whiteo:active {
    background-image: none;
    background-color: #ff9900;
}

.dy-btn-whiteo.am-disabled, .dy-btn-whiteo.am-disabled.am-active, .dy-btn-whiteo.am-disabled:active, .dy-btn-whiteo.am-disabled:focus, .dy-btn-whiteo.am-disabled:hover, .dy-btn-whiteo[disabled], .dy-btn-whiteo[disabled].am-active, .dy-btn-whiteo[disabled]:active, .dy-btn-whiteo[disabled]:focus, .dy-btn-whiteo[disabled]:hover, fieldset[disabled] .dy-btn-whiteo, fieldset[disabled] .dy-btn-whiteo.am-active, fieldset[disabled] .dy-btn-whiteo:active, fieldset[disabled] .dy-btn-whiteo:focus, fieldset[disabled] .dy-btn-whiteo:hover {
    background-color: #efefef;
    border-color: #f7f7f7;
}

.am-btn-group .dy-btn-whiteo, .am-btn-group-stacked .dy-btn-whiteo {
    border-color: #ff9900;
}

input.am-disabled {
    cursor: default;
}

.am-popup {
    overflow: visible;
}

.am-popup-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    padding-top: 43px;
    width: 100%;
}

.textarea.am-field-valid, .textarea.am-form-success .am-form-field {
    border: 0 !important;
}

.am-tabs-bd .am-tab-panel {
    -webkit-transition: -webkit-transform 0.0001s;
    transition: -webkit-transform 0.0001s;
    transition: transform 0.0001s;
    transition: transform 0.0001s, -webkit-transform 0.0001s;
}

.am-slider-default .am-direction-nav a::before, [class*=am-icon-]::before {
    font-family: "FontAwesome", sans-serif;
    font-size: 1.6rem;
    line-height: 1;
}
